# Generated folders and files
**/.log
**/.sass-cache
**/.tmp
**/bower_components
**/complexity
**/coverage
**/build
**/design.doc.json
**/dist
**/build
**/node_modules
**/npm-debug.log
**/packages
**/quality
**/reports

# Git
**/*.orig

# IntelliJ IDEA / WebStorm
**/*.iml
**/*.idea

# MacOS
**/.DS_Store
